* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.projects-slide {
  width: 1100px;
  height: 80vh;
  position: relative;
  display: flex;
  padding: 24px;
  overflow: clip;
  color: white;
  gap: 8px;

  &::before {
    background-color: rgba(255, 255, 255, 0.18);
    width: 85%;
    height: calc(100% - 48px);
    right: 0;
    top: 10px;
    position: absolute;
    content: "";
    border-radius: 24px;
    z-index: 0;
    box-shadow: 0 0 5px 1px black;
  }

  .items {
    display: flex;
    flex-direction: column;
    gap: 48px;

    article {
      width: 1052px;
      display: none;
      min-height: 380px;
	  height: 100%;
      align-items: center;
      gap: 36px;

      figure {
        width: 40%;
        height: 350px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 0 5px 1px black;
		position: relative;
		overflow: hidden;
      }

      section {
        width: 60%;
        height: 100%;
        padding: 12px 0;
        position: relative;

        h3 {
          font-weight: bold;
          font-size: 24px;
        }
        p {
          font-size: 16px;
        }
        ul {
          position: absolute;
          bottom: 48px;
          right: 16px;
          display: flex;
          gap: 24px;
        }
      }
    }

    .index-carousel {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      width: 40px;
      background: transparent;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      label {
        input[name="index"] {
          cursor: pointer;
          appearance: none;
          width: 15px;
          height: 15px;
          border: 1px solid white;
          border-radius: 50%;
        }
        input[name="index"]:checked {
          background-color: white;
          height: 22px;
          border-radius: 40%;
          border: none;
        }
      }
    }

    .index-carousel:has(label input[value="1"]:checked)
      ~ article[name="item-1"] {
      display: flex;

      figure {
        animation: scaleFigure 0.7s ease-out;
      }

      section {
        animation: textAnimation 0.7s ease-out;
      }
    }

    .index-carousel:has(label input[value="2"]:checked)
      ~ article[name="item-2"] {
      display: flex;

      figure {
        animation: scaleFigure 0.6s;
      }

      section {
        animation: textAnimation 0.7s ease-out;
      }
    }

    .index-carousel:has(label input[value="3"]:checked)
      ~ article[name="item-3"] {
      display: flex;

      figure {
        animation: scaleFigure 0.6s;
      }

      section {
        animation: textAnimation 0.7s ease-out;
      }
    }
  }
}

@keyframes scaleFigure {
  from {
    transform: scale(0.1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes textAnimation {
  from {
    transform: translateY(30%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
