.service-list {
  --font-title: 26px;
  --font-text: 18px;
  --wrap-height: 100vh;
  --card-justify: center;
  --card-align: center;
  --figure-height: 300px;
  --figure-width: 100%;
  --article-top: 20px;
  --article-height: 370px;
  --article-width: 100%;
  --article-display: flex;
  --text-align: initial;

  display: flex;
  justify-content: center;
  align-items: self-start;
  flex-direction: column;

  @media screen and (min-width: 720px){
    --font-title: 42px;
    --font-text: 22px;
    --wrap-height: unset;
    --card-justify: space-between;
    --card-align: unset;
    --figure-height: 400px;
    --figure-height: 400px;
    --figure-width: 40%;
    --article-top: unset;
    --article-height: unset;
    --article-width: 55%;
    --article-display: unset;
    --text-align: initial;

  }

  li {
    @apply px-12 md:px-16 lg:px-24;

    display: flex;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 20px;
    position: sticky;
    gap: 12px;
    position: -webkit-sticky;
    top: 120px;
    height: auto;
    flex-wrap: wrap;
    justify-content: var(--card-justify);
    align-items: var(--card-align);


    article {
      position: relative;
      width: var(--article-width);
      min-width: 320px;
      top: var(--top);
      height: var(--article-height);
      display: var(--article-display);
      flex-direction: column;
      align-items: self-end;

      h3 {
        font-size: var(--font-title);
        margin-bottom: 6px;
        text-align: var(--text-align);
        font-family: var(--font-michroma);
        font-weight: 500;        
      }

      p {
        font-size: var(--font-text);
        text-align: var(--text-align);
        color: hsl(var(--muted-foreground));
      }
    }

    figure {
      position: relative;
      height: var(--figure-height);
      min-width: 250px;
      border-radius: 15px;
      box-shadow: #013343 0 0 3px 1px;
      width: var(--figure-width);
      overflow: hidden;
    }

    &:not(:first-child) {
      article {
        opacity: 0;
      }

      figure {
        height: calc(var(--figure-height) - (var(--card-number) * 2px));
        top: calc((var(--card-number) * 2px));
        transform: scale(0.7) translateX(200%) ;
      }
    }

    &:nth-child(6) {
      padding-bottom: 100px;
      
      figure {
        border: none;
        box-shadow: none;
      }
    }
  }
}

@keyframes appear {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-in {
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
